    .headerLayout {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .headerLayout .headerLogo {
        margin-left: -40px;
    }
    
    .headerSearch {
        height: 46px;
        width: 625px;
        margin-top: 39px;
        border: solid #FF0036;
        position: relative;
    }
    
    .headerSearch input,
    .headerSearch button {
        height: 36px;
        padding: 5px 3px 5px 5px;
        border: 0px;
        outline: none;
    }
    
    .headerSearch input {
        width: 491px;
        font-size: 16px;
    }
    
    .headerSearch button {
        cursor: pointer;
        width: 126px;
        height: 46px;
        float: right;
        background-color: red;
        font-weight: 700;
        font-size: 18px;
        color: white;
        text-indent: 10px;
        letter-spacing: 10px;
    }
    
    .sousuo {
        @include postion(left, absolute, 0px, 50px);
        z-index: 10;
        line-height: 25px;
        width: 497px;
        border: solid #eee;
        border-width: 0px 1px 1px;
        li {
            padding-left: 10px;
            background-color: white;
            cursor: pointer;
        }
    }
    
    .headerLayout .headerNull {
        width: 170px;
    }