@import 'resetting';
@mixin postion($direction:left, $positionvalue:absolute, $value1:10px, $value2:10px) {
    //定位。默认情况下实在左上角为标准。
    @if ($direction==left) {
        //左上角的时候
        position: $positionvalue;
        left: $value1;
        top: $value2;
    }
    @else {
        //右下角
        position: $positionvalue;
        right: $value1;
        bottom: $value2;
    }
}

//头部css样式
header {
    @extend %cleafix;
    height: 32px;
    background-color: #f2f2f2;
    line-height: 32px;
    border-bottom: 1px solid #e5e5e5;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #999;
}

.header a {
    color: #999;
}

.header a:hover {
    color: red;
}

.header p span {
    padding-right: 20px;
}

.header_right {
    display: flex;
}

.header_right a {
    display: inline-block;
    padding: 0px 8px;
}

.header_right span {
    color: red;
    vertical-align: middle;
    padding: 0;
}

.header_right .he_ri_one {
    position: relative;
}

.header_right .he_a1 {
    border-left: 1px solid #f2f2f2;
}

.header_right .he_a2 {
    border-right: 1px solid #f2f2f2;
}

.header_right .he_a1:hover,
.header_right .he_a2:hover {
    background-color: white;
    border-bottom: 2px solid white;
    color: red;
    text-decoration: underline;
}


/* 带有he_ri_none的都是相对于父元素的二级效果定位*/


/* he代表的是header、ri代表的是right、none代表的是hover之后才出来的*/

.header_right .he_ri_none {
    display: none;
    line-height: 25px;
    @include postion(left, absolute, 0px, 33px);
    width: 76px;
    border: 1px solid #eee;
    border-top: 0px;
    z-index: 1000;
    background-color: white;
    padding: 5px 15px 5px 0px;
}

.header_right .he_ri_none2 {
    display: none;
    z-index: 10;
    background-color: white;
    padding: 8px 10px;
    width: 122px;
    @include postion(left, absolute, -69px, 33px);
    border: solid #eee;
    border-width: 0px 1px 1px;
    line-height: 22px;
}

.header_right .he_ri_none2 p {
    padding-top: 5px;
    color: #666;
    font-weight: 700;
}

.header_right .he_ri_none2 a {
    color: #666;
    display: inline-block;
    margin-right: 20px;
    padding: 0px;
}

.header_right .he_ri_none2 i {
    display: block;
    margin-top: 5px;
    border-bottom: 1px dotted #827777;
}

.header_right .he_ri_two {
    position: relative;
}

.header_right .he_ri_two em {
    @include postion(left, absolute, 33px, 16px);
    font-size: 0px;
    z-index: 10;
    border: 5px transparent solid;
    border-bottom: 5px solid white;
    display: none;
}

.header_right .he_ri_two div {
    @include postion(left, absolute, -47px, 26px);
    z-index: 1000;
    display: none;
    width: 175px;
    height: 175px;
    box-shadow: 0 0 5px #aaa;
    background: url(//img.alicdn.com/tfs/TB1vJ0POwTqK1RjSZPhXXXfOFXa-175-215.png) 0 0 no-repeat;
}

.header_right .he_ri_two:hover div {
    display: block;
}

.header_right .he_ri_two:hover em {
    display: block;
}

.header_right .he_ri_one:hover .he_ri_none {
    display: block;
}

.header_right .he_ri_one:hover .he_ri_none2 {
    display: block;
}

.header_right .he_ri_none :hover {
    display: block;
}

.header_right .he_a1 i {
    display: inline-block;
    margin: 0px 2px;
    font-size: 0px;
    border: 3px transparent solid;
    border-top: 3px solid #999999;
    vertical-align: 0px;
}

.header_right .he_n:hover {
    color: red;
}

.header_right .he_a:hover {
    background-color: white;
    color: red;
    text-decoration: underline;
}

.header_right a:hover .he_a1 i {
    transform: rotate(180deg);
    transform-origin: 50% 30%;
    transition: transform .2s ease-in;
}

.he_ri_none3 {
    z-index: 1000;
    display: none;
    background-color: white;
    width: 1198px;
    @include postion(left, absolute, -1115px, 33px);
    border: solid #eee;
    border-width: 0px 1px 1px;
    padding: 25px 0px;
}

.header_right .he_ri_one:hover .he_ri_none3 {
    display: block;
}

.he_ri_none3 li {
    float: left;
    height: 110px;
    padding-left: 30px;
    overflow: hidden;
}

.he_ri_none3 li a {
    position: relative;
    display: block;
    float: left;
    padding: 6px 0px;
    width: 95px;
    line-height: 1.4;
}

.he_ri_none3 li .wt {
    width: 50px;
}

.he_ri_none3 ul li i {
    display: block;
    @include postion(left, absolute, 47px, 0px);
    width: 9px;
    height: 11px;
}

.he_ri_none3 .active1 {
    background: url(../../images/TB1gyXLGFXXXXceXVXXCEcU6VXX-439-220.png) no-repeat -37px -11px;
}

.he_ri_none3 .active2 {
    background: url(../../images/TB1gyXLGFXXXXceXVXXCEcU6VXX-439-220.png) no-repeat -37px 0px;
}

.he_ri_none3 li h1,
.he_ri_none3 li span {
    font-size: 16px;
    font-weight: 500;
}

.none3_recommend h1,
.none3_recommend span {
    color: #f56a00;
}

.none3_bazaar h1,
.none3_bazaar span {
    color: #2263d4
}

.none3_help h1,
.none3_help span {
    color: #666;
}

.he_ri_none3 .none3_bazaar>a:hover {
    text-decoration: underline;
    color: #2263d4;
}


/*这里是最上面的固定定位
这里是最上面的固定定位
这里是最上面的固定定位
这里是最上面的固定定位*/

.header_top_fixed {
    position: fixed;
    z-index: 100;
    top: -50px;
    height: 50px;
    width: 100%;
    background-color: #FF0036;
}

.header_fixed_content {
    width: 1260px;
    margin: auto;
    display: flex;
    flex-direction: row;
}

.fixed_content_left {
    margin-top: 10px;
    width: 160px;
    height: 30px;
    background: url(https://img.alicdn.com/tfs/TB1MaLKRXXXXXaWXFXXXXXXXXXX-480-260.png) no-repeat 2px -47px;
    background-size: 160px 72px;
    margin-right: 122px;
}

.fixed_content_center input {
    margin-top: 10px;
    outline: none;
    border: none;
    width: 640px;
    height: 30px;
}

.fixed_content_center button {
    margin-left: -4px;
    outline: none;
    border: none;
    height: 30px;
    width: 90px;
    background-color: #FF0036;
    cursor: pointer;
    font-size: 16px;
    letter-spacing: 4px;
    color: white;
    line-height: 30px;
    vertical-align: middle;
}


/*左边楼梯的固定定位
左边楼梯的固定定位
左边楼梯的固定定位
左边楼梯的固定定位*/

.header_left_fixed {
    position: fixed;
    left: 50%;
    margin-left: -663px;
    bottom: 60px;
    z-index: 10000;
}

.header_left_fixed ul {
    opacity: 0;
}

.header_left_fixed .daohang {
    width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    background-color: #ff0036;
    margin-bottom: 1px;
}

.header_left_fixed li {
    height: 36px;
    width: 36px;
    font-size: 12px;
    line-height: 12px;
    background-color: rgba(0, 0, 0, .6);
    margin-top: 1px;
}

.header_left_fixed li a {
    display: inline-block;
    width: 28px;
    text-align: center;
    color: white;
    padding: 6px 4px;
}

.header_left_fixed li a span {
    display: block;
    font-size: 10px;
    transform: rotate(-90deg);
}

.left_fixed_green:hover {
    background-color: #64C333;
}

.left_fixed_green .active {
    background-color: #64C333;
}

.left_fixed_red:hover {
    background-color: #ff0036;
}

.left_fixed_red .active {
    background-color: #ff0036;
}

.left_fixed_pink:hover {
    background-color: #EA5F8D;
}

.left_fixed_pink .active {
    background-color: #EA5F8D;
}

.left_fixed_blue:hover {
    background-color: #0AA6E8;
}

.left_fixed_blue .active {
    background-color: #0AA6E8;
}

.left_fixed_cyan:hover {
    background-color: #19C8A9;
}

.left_fixed_cyan .active {
    background-color: #19C8A9;
}