.inner_nav1 .nav1_left {
    display: inline-block;
    width: 200px;
    height: 36px;
    font-size: 16px;
    font-weight: 700;
    line-height: 36px;
    background-color: #FF0036;
    color: white;
}

.inner_nav1 .nav1_left span {
    padding: 0px 14px 0px 14px;
}

.inner_nav1 .nav1_right {
    display: inline-block;
    height: 36px;
}

.inner_nav1 .nav1_right a {
    color: black;
    padding: 0px 8px;
    font-size: 16px;
    font-weight: 400;
    vertical-align: 2px;
}

.inner_nav1 .nav1_right a:hover {
    color: #FF0036;
}

.inner_nav1 .nav1_right img {
    height: 33px;
    margin-bottom: 2px;
    vertical-align: middle;
    width: 100px;
}

.inner_nav2_comment {
    position: relative;
}

.inner_nav2 {
    //背景图的地方，还没有完善
    border-top: 2px solid #FF0036;
    background: rgb(232, 232, 232);
    height: 500px;
}

.nav2_comment_imgs ul li a img {
    display: block;
    margin: auto;
}

.inner_nav2_comment ol {
    @include postion(right, absolute, 560px, 15px);
}

.inner_nav2_comment ol li {
    float: left;
    height: 5px;
    width: 25px;
    background-color: #000;
    opacity: .3;
    margin-left: 5px;
}

.inner_nav2_comment ol .active {
    background-color: white;
}

.nav2_comment_text {
    @include postion(left, absolute, 0px, 0px);
}

.nav2_comment_text ul li {
    font-size: 14px;
    width: 200px;
    height: 31.2px;
    line-height: 31.2px;
    color: #fff;
    background-color: rgba(0, 0, 0, .55);
}

.nav2_comment_text ul li .weight {
    font-size: 14px;
    color: #fff;
}

.nav2_comment_text ul li span {
    padding: 0px 8px 0px 14px;
}

.nav2_color_red:hover,
.nav2_color_blue:hover,
.nav2_color_green:hover,
.nav2_color_yellow:hover,
.nav2_color_green2:hover,
.nav2_color_red2:hover {
    background-color: white;
}

.nav2_color_red:hover {
    color: #e54077;
}

.nav2_color_red:hover .weight {
    color: #e54077;
    font-weight: 700;
}

.nav2_color_blue:hover {
    color: #427def;
}

.nav2_color_blue:hover .weight {
    color: #427def;
    font-weight: 700;
}

.nav2_color_green:hover {
    color: #6347ed;
}

.nav2_color_green:hover .weight {
    color: #6347ed;
    font-weight: 700;
}

.nav2_color_yellow:hover {
    color: #f7a831;
}

.nav2_color_yellow:hover .weight {
    color: #f7a831;
    font-weight: 700;
}

.nav2_color_green2:hover {
    color: #3bc7b0;
}

.nav2_color_green2:hover .weight {
    color: #3bc7b0;
    font-weight: 700;
}

.nav2_color_red2:hover {
    color: #dd2727;
}

.nav2_color_red2:hover .weight {
    color: #dd2727;
    font-weight: 700;
}

.nav2_right {
    width: 852px;
    height: 500px;
    background-color: #fafafa;
    @include postion(left, absolute, 200px, 0px);
    display: none;
}

.nav2_right_text {
    width: 630px;
    height: 462px;
    padding: 19px 0px 19px 30px;
    background-color: white;
}

.right_text_comment {
    height: 60px;
    padding: 5px 0px;
}

.nav2_comment_text li:hover .nav2_right {
    display: block;
}

.nav2_right_nav {
    width: 90px;
    height: 22px;
    color: black;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    float: left;
    background-color: white;
}

.nav2_right_nav i {
    font-weight: 500;
    font-size: 12px;
}

.nav2_right_comment {
    float: left;
    width: 493px;
    background-color: white;
    padding-bottom: 5px;
    border-bottom: 1px dotted #999;
}

.right_comment_text a {
    float: left;
    font-size: 14px;
    color: black;
    margin-left: 13px;
    line-height: 30px;
}

.right_comment_text .active {
    color: red;
}

.right_comment_text a:hover {
    color: #e54077;
    font-weight: 500;
}